:root{
    --main-bg--color: #eeeeee;
    --title--color: #191770;
    --header--color: #1e175c;
    --active--color: black;
    --active--text--color: black;
    --label--color: #27263d;
    --row1--color: rgb(0, 114, 97);
    --row2--color: rgb(32, 32, 32);
    --button--color: #ff4a73;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("../img/background.png");
    width: 100vw; height: 100vh;
    margin: 0;
    font-weight: bolder;
    background-color: var(--main-bg--color);
}


button{
    outline: none;
    background-color: var(--header--color);
    font-size: 2em;
    font-weight: 600;
    margin-top: 1em;
    padding: 1% 4% 1% 4%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover{
    color: var(--active--text--color);

}

.active{
    border-bottom: var(--active--color) solid 5px;
    color: white;
}

.container{
    padding: 4%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: larger;
    color: var(--title--color);
}

p{
    font-size: 3em;
    font-weight: bolder;
}

#chart{
    margin: 5% auto 5% 13%;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

/* https://codepen.io/florantara/pen/dROvdb */
.table{
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    color: var(--label--color);
}

.table td, .table th {
    text-align: center;
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.table thead th {
    color: #ffffff;
    background: var(--row1--color);
}

.table thead th:nth-child(odd) {
    color: #ffffff;
    background: var(--row2--color);
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

#submit {
    border-radius: 12px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--button--color);
    font-weight: bold;
    color: white;
    font-size: 30px;
    height: auto;
    cursor: pointer;
}

#submit:active{
    background-color: #e34368 ;
    border: none;
    transform: translateY(4px);
}

@media (max-width: 1400px){
    button{
        background-color:var(--header--color);
        font-size: 1.4em;
        margin-top: 1em;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        width: auto;
    }
}